<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>考试管理 - 教务管理系统</title>
  <link rel="stylesheet" href="../layui/css/layui.css">
  <style>
    .layui-row{
      margin: 10px;
    }
  </style>
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo layui-hide-xs layui-bg-blue">教务管理系统</div>
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide-xs">退出登陆</li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item"><a href="javascript:;">学生管理</a></li>
          <li class="layui-nav-item"><a href="javascript:;">考试管理</a></li>
          <li class="layui-nav-item"><a href="javascript:;">成绩管理</a></li>
        </ul>
      </div>
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="div-col-md12">
              <button type="button" class="layui-btn layui-btn-fluid">添加学生</button>
            </div>
          </div>
          <div class="layui-row">
            <div class="div-col-md12">
              <button type="button" class="layui-btn layui-btn-fluid">添加学生</button>
            </div>
          </div>
          <div class="layui-row">
            <div class="div-col-md12">
              <table id="table" lay-filter="test"></table>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      2022 © 教务管理系统
    </div>
  </div>
  <script src="../layui/layui.js"></script>
  <script>
    var table = layui.table;

    //第一个实例
    table.render({
      elem: '#table',
      height: 312,
      url: '/student', //数据接口
      page: true, //开启分页
      limit: 10,
      limits: [10, 50, 100, 200],
      request: {
        pageName: "page",
        limitName: "pageSize"
      },
      parseData: function (d) {
        return {
          "code": d.code == 200 ? 0 : d.code, //解析接口状态
          "msg": d.msg, //解析提示文本
          "count": d.data.total, //解析数据长度
          "data": d.data.data //解析数据列表
        }
      },
      cols: [ [ //表头 [[ 之间要加空格
        { field: 'id', title: 'ID', sort: true },
        { field: 'name', title: '姓名', sort: true },
        { field: 'studentNumber', title: '学号', sort: true },
        { field: 'studentNumber', title: '操作', align:'center' },
      ] ]
    });
  </script>
</body>

</html>