<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改考试信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .mycontainer {
            position: absolute;
            left: 15%;
            top: 25%;
            width: 70%;
            height: 50%;
        }

        .layui-row {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<div class="layui-container mycontainer">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md-offset3">
            <form class="layui-form">
                <input type="hidden" id="examId" name="id">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称：</label>
                    <div class="layui-input-block">
                        <input id="name" type="text" name="name" placeholder="请输入考试名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">地点：</label>
                    <div class="layui-input-block">
                        <input id="examAddress" type="text" name="examAddress" placeholder="请输入考试地点" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">时间：</label>
                    <div class="layui-input-block">
                        <input id="examDatetime" type="text" name="examDatetime" placeholder="请输入考试时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-lg" lay-submit lay-filter="okBtn">确定</button>
                        <button class="layui-btn layui-btn-lg" lay-submit lay-filter="cancelBtn">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/layui/layui.js"></script>
<script>

    let layer = layui.layer;
    let form = layui.form;
    let $ = layui.$;
    let laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
        elem: '#examDatetime', //指定元素
        type:'datetime'
    });

    // 确定添加考试
    form.on('submit(okBtn)', function (data) {
        if (data.field.name == null || data.field.name == "") {
            layer.msg("名称不能为空");
            return false;
        }
        if (data.field.examAddress == null || data.field.examAddress == "") {
            layer.msg("考试地点不能为空");
            return false;
        }
        if (data.field.examDatetime == null || data.field.examDatetime == "") {
            layer.msg("考试时间不能为空");
            return false;
        }

        $.post("/updateexam", data.field, function (resp) {
            if (resp.code == 0) {
                // 修改成功
                layer.msg(resp.msg);
                let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            } else {
                // 添加失败
                layer.msg(resp.msg);
            }
        },"json")

        return false;
    })

    form.on('submit(cancelBtn)', function (data) {
        let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭

        return false;
    })


</script>
</body>

</html>