<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.eas.mapper.ExamMapper">
    <insert id="insertExam">
        insert into exam(`name`,`location`,`datetime`) values(#{name},#{location},#{datetime})
    </insert>
    <update id="updateExam">
        update exam
        set name = #{name},
            location = #{location},
            datetime = #{datetime}
        where id = #{id}
    </update>
    <delete id="deleteExam">
        delete from exam where id = #{id}
    </delete>

    <select id="getExamById" resultType="com.lee.eas.domain.po.ExamPO">
        select * from exam where id = #{id}
    </select>
    <select id="queryAllExam" resultType="com.lee.eas.domain.po.ExamPO">
        select *
        from exam;
    </select>

</mapper>