<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.eas.mapper.GradeMapper">
    <insert id="insertGrade">
        insert into grade(`exam_number`,`student_id`,`subject_one`,`subject_two`,`total`,`rank`)
        values (#{examNumber},#{studentId},#{subjectOne},#{subjectTwo},#{total},#{rank});
    </insert>
    <insert id="insertBatchGrade" parameterType="java.util.List">
        INSERT INTO grade(`exam_number`,`student_id`,`subject_one`,`subject_two`,`total`,`rank`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.examNumber},#{item.studentId},#{item.subjectOne},#{item.subjectTwo},#{item.total},#{item.rank})
        </foreach>
    </insert>
    <select id="getGrade" resultType="com.lee.eas.domain.po.GradePO">
        select * from grade where exam_number = #{examId} and student_id = #{studentId}
    </select>
    <select id="queryGradeByExamId" resultType="com.lee.eas.domain.po.GradePO">
        select * from grade where exam_number = #{examId}
    </select>
</mapper>