<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudentMapper">
    <select id="getStudentById" resultType="com.lee.eas.domain.po.StudentPO">
        select * from student where id=#{id}
    </select>
    <select id="queryAllStudents" resultType="com.lee.eas.domain.po.StudentPO">
        select * from student
    </select>
</mapper>
