<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <style>
        .container{
            position: absolute;
            width: 70%;
            height: 50%;
            top: 25%;
            left: 15%;
        }
    </style>
</head>

<body>
    <div class="layui-container container">
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-xs6 layui-col-md-offset3 layui-col-xs3">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">学号：</label>
                        <div class="layui-input-block">
                            <input type="text" name="studentNumber" required lay-verify="required" placeholder="请输入学号" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">原密码：</label>
                        <div class="layui-input-block">
                            <input type="password" name="oldPassword" required lay-verify="required" placeholder="请输入原密码"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码：</label>
                        <div class="layui-input-block">
                            <input type="password" name="newPassword" required lay-verify="required" placeholder="请输入新密码"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认新密码：</label>
                        <div class="layui-input-block">
                            <input type="password" name="confirmPassword" required lay-verify="required" placeholder="请再次输入新密码"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="updatePassword">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   


    <script src="/layui/layui.js"></script>
    <script>
        let layer = layui.layer;
        let form = layui.form;
        let $ = layui.$;

        form.on('submit(updatePassword)',function(data){
            console.log(data);

            if(data.field.newPassword != data.field.confirmPassword){
                layer.msg("两次输入的新密码不同，请重新输入");
                return false;
            }

            $.post('/student/updatepassword',data.field,function(resp){
                console.log(resp);
                if(resp.code == 0){
                    // 更新成功，回到首页
                    layer.msg(resp.msg);
                    window.location.href = "/";
                }else{
                    layer.msg(resp.msg);
                }
            });

            return false;
        });
        
    </script>
</body>

</html>